doctype html
//- basic libraries: jquery(1.10.2), d3js(3.5.4), angularjs(1.2.3), bootstrap(3.0)/semantic-ui(0.9.3/0.9.5)
//-                  fontawesome(4.4.0), reactjs(0.14.0)
- var use = { cdn: false, og: false, favicon: true }
- var lib = { jquery: true, d3js: true, angular: true, bootstrap: true, semantic: false, fontawesome: true, reactjs: false }
- var assets = "assets"
- var favicon = "thumbnail.png"
- var title = "template"
- var og = {}
- og.title = title
- og.twitter = {type: "summary_large_image", site: "@zbryikt", creator: "@zbryikt"}
- og.domain = "zbryikt.github.io"
- og.url = ""
- og.thumbnail = {width: 200, height: 200, type: "image/png"}
- og.thumbnail.url = "thumbnail.png"
- og.author = "zbryikt"
- og.section = "Taiwan"
- og.keyword = "zbryikt,template"
- og.description = ""
html(lang="en")
  head(prefix="og: http://ogp.me/ns#")
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    // libraries
    include library.jade
    // custom files
    link(rel="stylesheet",type="text/css",href="index.css")
    //script(type="text/javascript",src="main.js")
    script(type="text/javascript",src="static/js/voronoi.js")
    script(type="text/javascript",src="static/js/polygon.js")
    script(type="text/javascript",src="static/js/face.js")
    script(type="text/javascript",src="static/js/convex.js")
    script(type="text/javascript",src="index.js")
  body
    #bound
      svg#svg(preserveAspectRatio="xMidYMid")
      //-svg#svg(style="width:100%;height:100%;",preserveAspectRatio="xMidYMid")
    //-
      .container(style="margin-top: 25px;padding:0")
        svg#svg2(width="100%", height="100%", preserveAspectRatio="xMidYMid")
      .container(style="margin-top: 25px;padding:0")
        svg#svg3(width="100%", height="100%", preserveAspectRatio="xMidYMid")
