@import vars
@import basic

html,body
  width: 100%
  height: 100%
  margin: 0
  padding: 0
  uselato()
  font-size: 18px

#root
  width: 100%
  height: 100%
  padding: 20px

h1,h2,h3,h4,h5,h6
  uselato()
  font-weight: bold

#demonstration
  //height: 70%
  //width: 60%
  width: 1200px
  height: 630px
  box-sizing: content-box
  margin: 0 auto
  background: #eee url(../../img/loading.svg) center center no-repeat

#svg
  background: #fff
  width: 100%
  height: 100%

#usage
  max-width: 1024px
  margin: auto

#footer a
  margin-left: 20px
